@model IEnumerable<RacingProjectClient.Client.ApiModels.Driver>

@{
    ViewData["Title"] = "Index";
}

@{ 
    var actualPage = (int)ViewData["Actual_page"];
    var prevDisabled = (bool) ViewData["Is_prev_disabled"] ? "disabled" : "";
    var nextDisabled = (bool) ViewData["Is_next_disabled"] ? "disabled" : "";

    Dictionary<string, string> prevDict = new Dictionary<string, string>();
    prevDict.Add("page", (actualPage - 1).ToString());

    Dictionary<string, string> nextDict = new Dictionary<string, string>();
    nextDict.Add("page", (actualPage + 1).ToString());
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index"
   asp-all-route-data="prevDict"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-all-route-data="nextDict"
   class="btn btn-primary @nextDisabled">
    Next
</a>